.preloader-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

.loader-hide{
   display: none;
}

.info-box-icon {
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.info-box-content {
    padding: 1.5rem 1.5rem;
    margin-left: 90px;
}

.icon-card {
    font-size: 35px;
}

.icon-blue {
    color: #5b73e8;
}

.icon-yellow {
    color: #f1b44c;
}

.icon-red {
    color: #f46a6a;
}

.icon-green {
    color: #34c38f;
}

/* Solid border */

.leading-loose {
    line-height: 3 !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.solid-divider {
    border-bottom: 3px solid #bbb;
}

li.font-small {
    font-size: 17px;
    margin-top: 10px;
}
